<div style="margin-top:150px;">
    <div class="form container">
        <form class="login-form" #loginForm>
        <input autofocus="true" placeholder = "username" onfocus="this.placeholder = ''" onblur="this.placeholder='username'"  #username required/>
        <input placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder='password'"#password required/>
        <input placeholder="firstname" onfocus="this.placeholder = ''" onblur="this.placeholder='password'"#firstname required/>
        <input placeholder="lastname" onfocus="this.placeholder = ''" onblur="this.placeholder='password'"#lastname required/>
        <input placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder='password'"#email required/>
        <button (click)="onRegisterClicked(username,password,firstname,lastname,email)" myWizardAttributeDirective>Register</button>
        </form>
    </div>
</div>