<div *ngIf="selectedWizard" class ="selectedWizardText">
    <h2>
      {{selectedWizard.name | uppercase}} : {{selectedWizard.house | uppercase}}
    </h2>
    <button class ="select" (click)="goToDetail()">SELECT</button>
</div>
<div>
    <ul class ="dashboardWizardListParent">
        <li class = "wizardList" *ngFor="let wizard of wizards" [class.selected]="wizard===selectedWizard" (click)="onSelect(wizard)">
        <div class="nameAndFaceDiv">
            <span class = "center">{{wizard.name}} from {{wizard.house}}</span>
            <img class = "{{wizard.cssClass}}" src="{{wizard.face}}" />
        </div>
        </li>
    </ul>
</div>
<div class = "dashboardWizardListParent">
    <h1>Most Popular Wizards</h1>
    <div class="">
      <a *ngFor="let wizard of wizards" style="font-size: 25px; margin-bottom: 0px; cursor: pointer;" >
        <div class="" [routerLink]="['/wizard', wizard.id]">
          <h4>{{wizard.name}}</h4>
        </div>
      </a>
    </div>
</div>
<wizard-search></wizard-search>