<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Sign In with Auth0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class ="login-page font" >
  <div id="lock">
  </div>
  <div *ngIf="isLoginValidated==false">
      <p>
        <ngb-alert type="custom" [dismissible]="false"><strong>ARE YOU A DEATH EATER? DEATH EATERS ARE NOT ALLOWED HERE!</strong></ngb-alert>
      </p>
    </div>
  <div style="margin-top:150px;">
    <div class="form container">
      <form class="login-form" #loginForm>
        <input placeholder = "username" onfocus="this.placeholder = ''" onblur="this.placeholder='username'"  #username required/>
        <input placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder='password'"#password required/>
        <button (click)="onLogInClick(username.value, password.value)">Alohomora</button>
      </form>
    </div>
  </div>
</body>
</html>
