<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Sign In with Auth0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class ="login-page">
  <h1>{{title}}</h1>
  <div *ngIf="isLoginValidated == false">
    <login-alert></login-alert>
  </div>
  <div style="margin-top:150px;">
    <div class="form container">
      <form class="login-form" #loginForm>
        <input placeholder = "username" #username required/>
        <input placeholder="password" #password required/>
        <button (click)="onLogInClick(username.value, password.value)">login</button>
        <p class="message">Not registered? <a (click) = "onCreateAnAccountClick()" style ="cursor:pointer;">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
</html>