.search-result{
    border-bottom: 3px solid rgba(128, 128, 128, 0.12);
    border-left: 3px solid goldenrod;
    border-right: 3px solid goldenrod;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.12);
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;

    /* position: absolute; */
}

.search-result:hover {
    color: #eee;
    background-color: #607D8B;
    cursor: pointer;
}

#search-box{
    vertical-align: center;
}

h4{
    text-align: center;
    align-content: center;
    font-family: 'Lobster Two', cursive; 
    color: darkgoldenrod;  
    text-shadow: 1px 1px 1px #b3b3b3;
    flex-wrap: nowrap;
    margin-top: 0px;
}

.wizardSearchParentDiv{
    display:inline;
    text-align: center;
    align-content: center;
    font-family: 'Lobster Two', cursive; 
    color: darkgoldenrod;  
    text-shadow: 1px 1px 1px #b3b3b3;
    flex-wrap: nowrap;
    font-size: 40px;
    margin-top: 0px;
    padding:0px;
}
.searchWizardDiv{
    display: inline;
}