
<div *ngIf="selectedWizard" class ="selectedWizardText nameAndFaceDiv">
    <span>Name:</span>
    <span [@wizardState] = "selectedWizard.state" (click)="selectedWizard.toggleState('active')">{{newName}}</span><br>
    <span> House:{{selectedWizard.house}}</span>
    <div *ngIf = "isNameValidated == false">
        <span>
            INVALID CHARACTER! ONLY LETTERS FOR NAME
        </span>
    </div>
    <img class ="" src = "{{selectedWizard.face}}"/>
    <span>New Name:</span>
    <input name ="newName" [(ngModel)]="newName" />
    <button (click)="save(newName)">Save</button>
    <button (click) ="goBack()">Cancel</button>
</div>
