
<div style="text-align:left">
    <div *ngIf="!hasUserClickedButton">
        <div id="welcomeUserDiv" >
            <span>
                Welcome {{firstname + lastname}}!
            </span>
        </div>
    </div>
    <div *ngIf="wizardsClicked">
        <div id="welcomeUserDiv">
            <span>
                Wingardium Leviosa!
            </span>
        </div>
    </div>
    <div *ngIf="dashboardClicked">
        <div id="welcomeUserDiv" >
            <span>
                My favorite is Hermione Granger!
            </span>
        </div>
    </div>
    <div id="headerDiv">
        <nav>
            <label class="btn-primary buttons" ngbButtonLabel (click) = "onDashboardClicked()">
                Dashboard
            </label>
            <label class="btn-primary buttons" ngbButtonLabel (click) = "onWizardsClicked()">
                Wizards
            </label>
        </nav>
        <div *ngIf="dashboardClicked">
            <my-dashboard [username]="username"></my-dashboard>
        </div>
        <div *ngIf="wizardsClicked">
            <wizard-component></wizard-component>
        </div>
    </div>
</div>