.btn-primary
{
    font-family: harrypotterfont;
    background-color: rgba(218, 215, 32, 0.15);
    color: rgba(255, 174, 0, 0.9);
    padding-bottom: 0px;
    font-size: 50px;
    cursor: pointer;
    border-color: rgba(255,255,255,0.11);
    margin: 40px;
}
.btn-primary:hover{
    box-shadow: 5px 5px 5px grey;
}
#headerDiv{
    display: inline-block;
    text-align: center;
    align-items: center;
    display: inline;
}
#welcomeUserDiv
{
    font-size: 80px;
    font-family: harrypotterfont;
    color: rgba(255, 174, 0, 0.9);
    text-align: center;
}