
<div style="text-align:left">
    <div id="welcomeUserDiv">
        <span>
            welcome {{username}}!
        </span>
    </div>
    <div id="headerDiv">
        <nav>
            <label class="btn-primary buttons" ngbButtonLabel (click) = "onDashboardClicked()">
                Dashboard
            </label>
            <label class="btn-primary buttons" ngbButtonLabel (click) = "onWizardsClicked()">
                Wizards
            </label>
        </nav>
        <div *ngIf="dashboardClicked">
            <my-dashboard></my-dashboard>
        </div>
        <div *ngIf="wizardsClicked">
            <wizard-component></wizard-component>
        </div>
    </div>
</div>