/*START FONTS  */
@font-face {
    font-family: harrypotterfont;
    src: url("../../assets/font/harrypotter.ttf");
}
/*END FONTS*/

/*ANIMATIONS*/
@keyframes blink{
    0%{
        Opacity:1.0;
        transform: translatey(-20px);
    }
    50%{
        Opacity:0.5;
        transform: translatey(20px);
    }
    100%{
        Opacity:1.0;
        transform: translatey(-20px);
    }
}

/* START WIZARD NAME AND FACE */
.wizardList
{
    display: inline-block;
}
.wizFace
{
    margin-left: 45%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.nameAndFaceDiv > img 
{
    display: inherit;
    width: 200px;
    border-radius: 50px;
}
.nameAndFaceDiv > span:hover{
    cursor: pointer;
}
.nameAndFaceDiv > span:hover + img,  .nameAndFaceDiv > img:hover {
    cursor: pointer;
    box-shadow: 10px 10px 15px 5px darkgray;
}
.center
{
    text-align: center;
}
.wizardListParent
{
    /* display: inline-block; */
    text-align: center;
    align-content: center;
    font-family: 'Lobster Two', cursive; 
    color: darkgoldenrod;  
    text-shadow: 1px 1px 1px #b3b3b3;
    flex-wrap: nowrap;
}
.dashboardWizardListParent{
    text-align: center;
    align-content: center;
    font-family: 'Lobster Two', cursive; 
    color: darkgoldenrod;  
    text-shadow: 1px 1px 1px #b3b3b3;
    flex-wrap: nowrap;
}
.nameAndFaceDiv{
    background-color: auto;
    align-content: center;
    font-family: 'Lobster Two', cursive; 
    color: darkgoldenrod;  
    font-size: 20px;
    display: block;
    width: auto;
    margin: 10px;
    padding: 5px;
}
.selectedWizardText{
    text-align: center;
    color: #B8860B;
    text-shadow: 1px 1px 1px #b3b3b3;
    font-family: harrypotterfont;
    font-size: 300%;
}
.selectedWizardAnim{
    animation: blink 3s ease-in-out infinite;
    cursor: pointer;
    width: 200px;
    border-radius: 50px;
}
.selectedWizardImage{
    margin-left: 10px;
    align-content: center;
}
#selectAWizardSpan{
    font-family: harrypotterfont;
    font-size: 130px;
    color: #B8860B;
    text-shadow: 1px 1px 1px #b3b3b3;
}

/* END WIZARD FACE AND NAME */

/* END CREATE WIZARD SECTION */
.createWizardFont{
    align-content: center;
    font-family: 'Lobster Two', cursive; 
    color: darkgoldenrod;  
    text-shadow: 1px 1px 1px #b3b3b3;
    flex-wrap: nowrap;
    font-size: 40px;
    text-align: center;
}
/* END CREATE WIZARD SECTION */
/* START BUTTONS */

button.remove, button.select {
  margin-top: 2px;
  margin-right: .8em;
  color:white;
}

button.back {
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
}

button.create{
    margin-top: 2px;
    margin-right: .8em;
    background-color: rgba(128, 128, 128, 0.36) !important;
    color:rgba(218, 162, 32, 0.7);
}

/* END BUTTONS */