
<div *ngIf="selectedWizard" class ="selectedWizardText">
  <h2>
    {{selectedWizard.name | uppercase}} : {{selectedWizard.house | uppercase}}
  </h2>
  <button class ="select" (click)="goToDetail()" ngbButton>SELECT</button>
  <button class ="remove" (click)="remove(); $event.stopPropagation()" ngbButton>Remove Wizard</button>
</div>
<div>
  <ul class ="wizardListParent">
    <li class = "wizardList" *ngFor="let wizard of wizards" [class.selected]="wizard===selectedWizard" (click)="onSelect(wizard)">
      <div class="nameAndFaceDiv">
        <span class = "center">{{wizard.name}} from {{wizard.house}}</span>
        <img class = "{{wizard.cssClass}}" src="{{wizard.face}}" />
      </div>
    </li>
  </ul>
</div>
<div class ="createWizardFont">
  <label>Wizard Name: </label><input #newWizardName/><br>
  <label>Wizard House: </label><input #newWizardHouse/><br>
  <button class ="create" (click)="add(newWizardName.value, newWizardHouse.value); newWizardName.value =''; newWizardHouse.value ='';">Create</button>
  <button class ="back"(click)="goBack()">Back</button> 
</div>