.wizardList
{
 background-color: auto;
 align-content: middle;
 font-family: 'Lobster Two', cursive; 
 color: darkgoldenrod;  
 font-size: 20px;
 text-shadow: 2px 2px 2px #b3b3b3;
 display: block;
 margin: 0px;
 padding: 5px;
}
.wizardList > img 
{
    display: block;
    width: 50%;
    height: 50%;
}
.wizardList > span:hover{
    cursor: pointer;
}
.wizardList > span:hover + img,  .wizardList > img:hover {
    cursor: pointer;
    box-shadow: 10px 10px 15px 5px darkgray;
}

.center
{
    text-align: center;
}
.wizardListParent
{
    display: flex;
}