.wizardList
{
 background-color: auto;
 align-content: middle;
 font-family: 'Lobster Two', cursive; 
 color: darkgoldenrod;  
 font-size: 20px;
 text-shadow: 2px 2px 2px #b3b3b3;
 display: block;
}
.wizardList > img 
{
    display: block;
    border: 10px solid sienna;
    width: 100%;
    height: 50%;
}
.wizardList > span:hover{
    cursor: pointer;
}
.wizardList > span:hover + img,  .wizardList > img:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px grey;
}

.center
{
    text-align: center;
}
.wizardListParent
{
    display: flex;
}