/*START FONTS  */
@font-face {
    font-family: harrypotterfont;
    src: url("../assets/font/harrypotter.ttf");
}
/*END FONTS*/

/*GLOBAL PROPERTIES*/
*{
  cursor: url("../assets/img/elderwand.png"), auto;
}

/*START HEADER  */
#headerDiv
{
  background-size: cover;
  background-position-x: center;
  padding-top: 5%;
  /* opacity: 0.5; */
}
h1
{
  width: fit-content;
  font-family: harrypotterfont;
  font-size: 250px;
  color: rgba(13, 216, 251, 0.41);
  text-align: center;
  text-shadow: 17px -17px 20px;
  margin-left: 10%;
  height:0;
}

a{
  font-family: harrypotterfont;
  font-size: 80px;
  color: darkgoldenrod;
  text-shadow: 10px 15px 15px 15px #808080;
  width: 100%;
  /* text-decoration: none; */
  margin: 15px 15px 15px 15px;
}
/*END HEADER  */
p
{
 background-color: auto;
 align-content: middle;
 font-family: 'Lobster Two', cursive; 
 color: darkgoldenrod;  
}
nav{
  text-align: center;
}

button.logout{
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
  float: right;
  font-family: harrypotterfont;
  font-size: 30px;
  cursor: pointer;
}
