/*START FONTS  */
@font-face {
    font-family: harrypotterfont;
    src: url("../assets/font/harrypotter.ttf");
}
/*END FONTS*/

/*GLOBAL PROPERTIES*/
*{
  cursor: url("../assets/img/elderwand.png") 2 2, auto;
}

/*START HEADER  */
#headerDiv
{
  background-size: cover;
  background-position-x: center;
  padding-top: 5%;
  /* opacity: 0.5; */
}
h1
{
  width: 100%;
  font-family: harrypotterfont;
  font-size: 150px;
  color: darkgoldenrod;
  text-align: center;
  text-shadow: 10px 10px 10px #808080;
}

a{
  font-family: harrypotterfont;
  font-size: 80px;
  color: darkgoldenrod;
  text-shadow: 10px 15px 15px 15px #808080;
  width: 100%;
  /* text-decoration: none; */
  margin: 15px 15px 15px 15px;
}
/*END HEADER  */
p
{
 background-color: auto;
 align-content: middle;
 font-family: 'Lobster Two', cursive; 
 color: darkgoldenrod;  
}
nav{
  text-align: center;
}

button.logout{
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
  float: right;
  font-family: harrypotterfont;
  font-size: 30px;
  cursor: pointer;
}
