<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
</head>
<div style="text-align:left">
  <div id = "headerDiv">
    <h1>
      Welcome to {{title}}
    </h1>
  </div>
  <!-- <div id = "name">
    <p>The Famous {{character.name}}</p> 
  </div> -->
  <!-- <div id = "dob">
    <p>DOB: {{character.dob}}</p> 
  </div>
  <div id = "address">
    <p>Residence: {{character.address}}</p> 
  </div>
  <div id = "school">
    <p>Graduated from {{character.school}}</p> 
  </div> -->
</div>