<div id="carouselTitleDiv">
    <h1>Daily Prophet</h1>
</div>

<ngb-carousel class="center">
    <ng-template ngbSlide>
        <img src = "../../assets/img/dailyprophet1.jpg">
        <div class ="carousel-caption">
            <h1>Carousel Component 1</h1>
        </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
        <img src = "../../assets/img/dailyprophet2.jpg">
        <div class ="carousel-caption">
            <h1>Carousel Component 2</h1>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src = "../../assets/img/dailyprophet3.jpg">
        <div class ="carousel-caption">
            <h1>Carousel Component 3</h1>
        </div>
    </ng-template> -->
</ngb-carousel>