/* You can add global styles to this file, and also import other style files */

body{
    background-image: url("assets/img/greathall.jpg");
    cursor: url("assets/img/elderwand2.png"), pointer;
}
button, input{
    border-radius: 1000px;
}
