/*START FONTS  */
@font-face {
    font-family: harrypotterfont;
    src: url("../../assets/font/harrypotter.ttf");
}

:host >>> .alert-custom{
    color: goldenrod;
    font-family: harrypotterfont;
    font-size: 30px;
    max-width: 300px;
    align-content: center;
}